

/* Fading Animations */
@import url('./src/css/neptune_fade_in.css');
@import url('./src/css/neptune_fade_out.css');

/* Rotate Animations */
@import url(./src/css/neptune_rotate.css);

/* Scaling Animations */
@import url('./src/css/neptune_scale.css');


:root {
	--nep-animation-duration: 1s;
	--nep-animation-delay: 0s;
	--nep-animation-direction: ;
	--nep-animation-fillmode: forwards;
}
